@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 27 100% 100%;
    --foreground: 27 5% 10%;
    --card: 27 50% 100%;
    --card-foreground: 27 5% 15%;
    --popover: 27 100% 100%;
    --popover-foreground: 27 100% 10%;
    --primary: 27 40.9% 46.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -11 30% 95%;
    --muted-foreground: 27 5% 40%;
    --accent: -11 30% 90%;
    --accent-foreground: 27 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 27 5% 100%;
    --border: 27 30% 82%;
    --input: 27 30% 50%;
    --ring: 27 40.9% 46.5%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 27 30% 10%;
    --foreground: 27 5% 90%;
    --card: 27 30% 10%;
    --card-foreground: 27 5% 90%;
    --popover: 27 30% 5%;
    --popover-foreground: 27 5% 90%;
    --primary: 27 40.9% 46.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 30% 19%;
    --secondary-foreground: 0 0% 100%;
    --muted: -11 30% 19%;
    --muted-foreground: 27 5% 60%;
    --accent: -11 30% 19%;
    --accent-foreground: 27 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 27 5% 90%;
    --border: 27 30% 19%;
    --input: 27 30% 19%;
    --ring: 27 40.9% 46.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
